# dependencies
node_modules/
.next/

# environment variables
.env.local
.env*.local

# build outputs
dist/
build/
out/

# misc
.DS_Store
*.log
*.pem

# IDE
.vscode/
.idea/

# system files
Thumbs.db
.vercel
.env*
